

<div class="forms">
  <h1 class="todo_list_title">New Todo List</h1>
  <%= render 'form' %>
  <div class="links">
    <%= link_to root_path do %>
      <i class="fa fa-home"></i>
    <% end %>
  </div>
</div>

